* {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

html {
    scroll-behavior: smooth;
}


/*Barra de navegación*/

#navegador ul {
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    list-style-type: none;
    text-align: center;
    width: 100%;
    transition: 0.8s;
    font-size: 20px;
    padding: 5px 15%;
    background-color: #1C1818;
}

#navegador li {
    display: inline;
    text-align: center;
    width: 25%;
}

#navegador li a {
    text-align: center;
    padding: 14px 16px;
    color: white;
    text-decoration: none;
}

#navegador li a:hover {
    background-color: #333333;
    color: #ffd700;
}

#lisiz {
    text-align: center;
    float: right;
    padding: 0%;
    margin-right: -20%;
}


/**/


/*Caja foto receta*/

.one-column {
    float: left;
    width: 100%;
    margin-left: 25%;
    margin-right: 25%;
}

.one-column p {
    font-size: 2vw;
}

.one-column img {
    width: 50%;
    margin-bottom: -5px;
}

.two-column {
    float: left;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -35px;
    text-align: center;
}

.two-column p {
    font-size: 20px;
    text-align: left;
}

#arreglap {
    text-align: left;
    font-size: 20px;
    width: 50%;
}

ol {
    margin-top: -10px;
    margin-left: -25px;
    float: left;
    text-align: left;
}

@media screen and (max-width:700px) {}