* {
    box-sizing: border-box;
    font-family: 'Alegreya', serif;
}

body {
    margin: 0;
    background-color: black;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

html {
    scroll-behavior: smooth;
}


/*Barra de navegación*/

#navegador ul {
    margin: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    list-style-type: none;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    font-size: 30px;
    padding: 5px 15%;
}

#navegador li {
    display: inline;
    text-align: center;
    width: 25%;
}

#navegador li a {
    text-align: center;
    padding: 14px 16px;
    color: #ffd700;
    text-decoration: none;
}

#navegador li a:hover {
    color: white;
}

#lisiz {
    text-align: center;
    float: right;
    padding: 0%;
    margin-left: -22%;
    margin-right: -20%;
}


/**/


/*Caja foto receta*/

.one-column {
    width: 100%;
    padding: 2% 7%;
}

.one-column img {
    width: 50%;
}

.one-column h3 {
    font-size: 2vw;
    text-align: center;
}

.one-column h4 {
    font-size: 1.5vw;
}

.two-column {
    width: 50%;
    float: left;
    padding: 3%;
    background-color: black;
    color: white;
    text-align: left;
}

.two-column h3 {
    font-size: 2vw;
}

.two-column h4 {
    font-size: 1.5vw;
}

ol {
    margin-top: -10px;
    margin-left: -25px;
    float: left;
    text-align: left;
}

#receta {
    font-size: 2vw;
    text-align: left;
    margin: auto;
}

#receta1 {
    font-size: 2vw;
    text-align: left;
    margin: auto;
}

#receta2 {
    font-size: 1vw;
    text-align: left;
    color: #ffd700;
}


/*Footer*/

#footer {
    background-color: black;
    color: white;
    font-size: 20px;
    text-align: left;
}

#footer p {
    text-align: center;
    margin-right: 75%;
}

#footer h4 {
    text-align: center;
    margin-right: 75%;
}

@media screen and (max-width:1200px) {
    .two-column {
        width: 50%;
    }
    .two-column h4 {
        font-size: 5vw;
    }
    .four-column {
        width: 100%;
        padding: 2%;
        font-size: 4vw;
    }
    .four-column img {
        width: 70%;
    }
    ul {
        font-size: 20px;
    }
    #footer h4 {
        font-size: 1.5vw;
    }
}